extends layout

block content
	#user-page
		script#lot-item(type = "text/template")
			<section class="lot-admin">
			<img class="lot-image" src="<%= lot.picture %>" alt="lot image">
			<a href="/items/<%= lot._id %>">
			<h3 class="lot-title">
			<%= lot.name %>
			</h3>
			</a>
			<div class="lot-actions">
			<a href="/items/<%= lot._id %>/start">start exchange</a>
			<a href="/items/<%= lot._id %>/stop">stop exchange</a>
			<a href="/items/<%= lot._id %>/done">exchanged</a>
			<a href="/items/<%= lot._id %>/add-photo">add photo</a>
			<a href="javascript:void(0);">edit</a>
			<a href="/items/<%= lot._id %>/delete">delete</a>
			</div>
			</section>
		div.user-ava
			if user.photo != ''
				img(src=#{user.photo}, alt='avatar')
			else
				img(src='/stylesheets/i/dummyava.png', alt='dummy avatar')
		div.user-info
			h1= user.name
			div.user-meta
				p= user._id
				p= user.email
				p= user.phone
				p= user.location
				p= user.photo
		div.clr

		a.add-new-lot-trigger(href="javascript:void(0)").pull-right [Додати новий лот]
		div.clr
		//- object lots array imitation
		//lots = [{id:'50b53dbe9e06216217000006', main_image:'/stylesheets/i/iphone.jpg', name:'iphone'},{id:'2', main_image:'/stylesheets/i/samsung.jpg', name:'samsung'},{id:'3', main_image:'/stylesheets/i/motorola.jpg', name:'motorola'}]
		//- end of object
		section.lot-admin-new
			form#new-item(action='/items', method='POST')
				fieldset
					legend Створення нового лоту
					label Назва лоту
					input.lot-name(type="text", name="item[name]")
					br
					p.lot-desc-title Опис лоту
					textarea.lot-desc(name="item[description]")
					br
					label Оціночна вартість
					input.lot-value(type="number", name="item[value]")
					br
					p.lot-wish-title Побажання до обміну
					textarea.lot-wish(name="item[wish]")
					br
					label Категорія лоту
					select.lot-category(name="item[category_id]")
						option(value="50b3db132bdf12cb09000010") Головна
					button.create-lot-trigger.btn.btn-primary(type='submit') Створити
					a.cancel-lot-trigger.btn.btn-warning Скасувати
		section.user-lots-admin
	script(type="text/javascript")
		lots = !{ JSON.stringify(lots) };

//		- for lot in lots
//			section.user-lots-admin
//				section.lot-admin
//					img.lot-image(src='#{lot.picture}', alt='lot image')
//					a(href='/items/' + lot._id)
//						h3.lot-title= lot.name
//					div.lot-actions
//						a(href='/items/start/' + lot._id) start exchange
//						a(href='/items/stop/' + lot._id) stop exchange
//						a(href='/items/done/' + lot._id) exchanged
//						a(href='/items/add-photo/' + lot._id) add photo
//						a(href='/items/' + lot._id + '/edit') edit
//						a(href='/items/del/' + lot._id) delete