div
	Item.
		Label Name: #{item.name}
	.Item
		Label ID: #{item._id}
	.Item
		Label CategoryId: #{item.category_id}	
	.Item
		Label Description: #{item.description}
	.Item
		Label Pictures: #{item.pictures}
	.Item
		Label Picture: #{item.picture}
	.Item
		Label isActive: #{item.isActive}		
	.Item
		Label UserId: #{item.user_id}	
	.Item
		Label Current user: #{currentUser}
	
		a.button(href='/dev') Development tools	