- for user in users
	.Item
		Label ID: #{user._id}
	.Item
		Label Name: #{user.name}	
	.Item
		Label Email: #{user.email}
	.Item
		Label Location: #{user.location}
	.Item
		Label Picture: #{user.picture}
	br
br	
a.button(href='/dev') Development tools	